@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:'EB Garamond', serif;
  font-size: 2.4em;
  line-height: 1.5em;
  min-width: 80rem;
}

body {
	margin: 0;
	padding: 0;
  background: #fefefe;
	/*background: url(../img/grid-0_to_1599.png) top center repeat-y;*/
}

a {
  color: #295ba4;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: #3a364d;
}


.page {
	width: 111rem;
  overflow: hidden;
	margin: auto;
	position: relative;
  padding: 0 3.1rem;
}

nav {
  height: 2.25em;
  width: 100%;
  background: #3C3C3C;
}

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0 1.2rem 0 3rem;
  max-width: 105rem;
}


nav li {
  display: inline-block;
  padding: 0;
  margin: 0;

}

nav a {
  text-decoration: none;
  font-family:'Montserrat', sans-serif; 
  font-weight:400; 
  font-style:normal;
  color: #fff;
  display: inline-block;
  padding: .8rem;
  font-size: 1.8rem;
  line-height: 2em;

}

nav a:after {
  content: "/";
  color: #ddd;
  margin-left: 1.6rem;
}

nav a:hover {
  color: #abd17c;
}

nav li:last-child a:after {
  content: "";
}

header {
	overflow: hidden;
	padding: 7.2rem 0 3.6rem 0;
}

.masthead {
	float: left;
	margin-left: 1.6rem;
	margin-top: 6.25rem;
	max-width: 40rem;
}

.masthead h1 {
  font-family:'Montserrat', sans-serif;  
  font-weight:400; 
  font-style:normal;
  color: #2f4f87;
  font-size: 3em;
  line-height: 1em;
  margin: 0;
}

.masthead h2 {
   font-family:'Montserrat', sans-serif;  
   font-weight:400; 
   font-style:normal;
   font-size: 1.75em;
   line-height: 1.285715em;
   color: #572f15;
   margin: 0 0 0 0;
}

.masthead h3 {
   font-family:'Montserrat', sans-serif; 
   font-weight:400; 
   font-style:normal;
   font-size: 1em;
   color: #57674a;
   line-height: 1.5em;
   padding-top: 0;
   margin-top: .3333334em;
}

.masthead p {
	font-family:'EB Garamond';
	text-align: center;
	width: 100%;
	margin: .8rem 0;
	font-size: 1px;
  background: url(../img/masthead-bg.png) repeat-x center center;
}


.shell-images {
  float: right;
  width: 55%;
}

.shell {
  width: 24rem;
  float: right;
  margin-left: 3rem;
  margin-bottom: 3.6rem;
}

.main-text {
  /*margin-top: 7.2rem;*/
}

.main-text h2 {
  font-size: 2.25em;
  line-height: 1em;
  color: #6c7f5b;
  color: #572f15;
  margin-right: 27rem;
}

.main-text h3 {
  margin: .857144em 27rem .857144em 0;
  font-size: 1.75em;
  color: #b4b4b4;
}

.main-text h4 {
  margin: .857144em 0 0 0;
}


.main-text h5 {
  margin: 0;
  font-size: .8333333em;
}

.main-text p {
  margin: 0 27rem 1.5em 0;
  color: #2a2a2a;
}

.main-text p.indent {
  margin: 0 27rem 1.5em 1.5em;
}


.main-text ul,
.main-text ol {
  margin: 0 27rem 1.5em 0;
}  

.main-text table {
  margin: 0 27rem 2em 0;
}

.main-text tr {
    border-bottom: 1px solid #ddd;
}

.main-text tr:last-child {
  border none;  
}

.main-text td {
  padding: .25em 1em;
}
/*
.primary {
  width: 60%;
  float: left;
}

.secondary {
  width: 35.666%;
  float: right;
}
*/
img.portrait {
	width: 24rem;
	float: left;
	margin: 0 3rem 1em 0;
}

.twitter,
.courses,
.link-box {
  width: 37.5%;
  float: right;
  padding-left: .75em;
  margin: 0 0 1.6rem 1.6rem;
}

.link-box {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.link-box h3, .link-box p {
 margin-right: 0;
}



.link-box img {
  width: 100%;
}

.courses {
  background: #dde4d5;
  margin-left: 3.2rem;
}

.courses ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.courses li {
  padding: 1.8rem 1em 1.8rem 0;
}

footer {
  color: #fff;
  background: #291517;
  padding: 3.6rem 0;
  margin: 9rem 0 0 0;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  clear: both;
}

footer h5 {
  font-size: 2.4rem;
  line-height: 1.6rem;
  margin: 1.2rem 0 2rem 0;
}

footer .contact {
	font-style: normal;
	font-size: 2.1rem;
	line-height: 2.4rem;
	float: left;
  width: 50%;
	margin-top: 1.6rem;
}

footer img {
  display: block;
	width: 37.5rem;
  margin-top: 1.6rem;
  float: right;
}

footer .mail {
  margin-top: 1.8rem;
}


footer a {
  color: #abd17c;
}

footer a:hover {
  color: #7f966c;
}




/*

@media screen and (max-width: 60em) {

  body {
    font-size: 2em;
  }
  
  .twitter {
      display: none;
  }
  
}


@media screen and (max-width: 40em) {

  body {
    font-size: 1.6em;
  }
  
  .twitter {
      display: none;
  }
  
}

*/